{% extends 'header.html' %}
{% load static %}
{% block content %}


<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->


{% include 'nav.html' %}
<!-- Header -->
<header id="header" class="ex-2-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Sign Up</h1>
                <p>Fill out the form below to sign up for Tivo. Already signed up? Then just <a class="white" href="{% url 'connexion' %}">Log In</a></p>
                <!-- Sign Up Form -->
                <div class="form-container">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="email" type="email" class="form-control-input" id="semail" required>
                            <label class="label-control" for="semail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input name="nom" type="text" class="form-control-input" id="sname" required>
                            <label class="label-control" for="sname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                     <div class="form-group">
                            <input name="prenom" type="text" class="form-control-input" id="sname" required>
                            <label class="label-control" for="sname">Prenom</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input name="password" type="text" class="form-control-input" id="spassword" required>
                            <label class="label-control" for="spassword">Password</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Inscription</button>
                        </div>
                          {% if form.errors %}
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <div class="alert alert-dark mt-4" role="alert">
                                        <strong>Erreur :</strong> {{ error }}
                                    </div>
                                 {% endfor %}
                            {% endfor %}
                            {% endif %}
                    </form>
                </div> <!-- end of form container -->
                <!-- end of sign up form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

{% include 'scripts.html' %}

</body>
{% endblock %}